main {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
.search {
  width: 700px;
  z-index: 10;
}
.header {
  display: grid;
  place-items: center;
}
.header h1 {
  color: #ffffff;
  font-size: 3.2em;
  line-height: 1.1;
  margin: 0.5rem 0 0.5rem 0;
}

.logo {
  width: 200px;
  height: 200px;
  margin-bottom: 1rem;
}
.search-area {
  display: flex;
  background-color: rgba(110, 110, 110, 0.5);
  height: 3rem;
  padding: 0.5rem;
  border-radius: 8px 8px 0 0;
}
input {
  height: 3rem;
  width: 100%;
  padding: 0 1rem;
  font-size: 1rem;
  background-color: transparent;
  border: none;
  color: #ffffff;
}
input::placeholder {
  color: #ffffff;
}
input:focus {
  outline: none;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  color: #fff;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgba(110, 110, 110, 0.5);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #aaa6a6;
}
button:focus,
button:focus-visible {
  outline: none;
}

.auto-complete {
  background-color: rgba(110, 110, 110, 0.5);
  backdrop-filter: blur(1px);
  border-radius: 0 0 8px 8px;
  border-top: 1px solid #aaa6a6;
  padding: 0.5rem;
  color: white;
  height: 200px;
  overflow-x: hidden;
  z-index: 10;
}
/* Firefox */
.auto-complete {
  scrollbar-width: thin;
  scrollbar-color: rgba(110, 110, 110, 0.5) transparent;
}

/* Chrome, Edge, and Safari */
.auto-complete::-webkit-scrollbar {
  width: 6px;
}

.auto-complete::-webkit-scrollbar-track {
  background: hsl(235, 24%, 19%);
}

.auto-complete::-webkit-scrollbar-thumb {
  background-color: #323144;
  border-radius: 18px;
  border: 3px solid hsl(235, 24%, 19%);
}
.auto-complete li {
  animation: fadeIn 0.3s ease;
  animation-fill-mode: both;
}

.auto-complete li:nth-child(1) {
  animation-delay: 0.1s;
}
.auto-complete li:nth-child(2) {
  animation-delay: 0.2s;
}
.auto-complete li:nth-child(3) {
  animation-delay: 0.3s;
}
.suggestion {
  cursor: pointer;
  height: auto;
  margin: 0.2rem;
  padding: 0.5rem;
  border-radius: 8px;
  border-bottom: 1px solid #aaa6a6;
}

.suggestion:hover {
  background-color: rgba(110, 110, 110, 0.5);
  color: #f5f5f5;
}
.song {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 0.5rem;
}

@media (max-width: 768px) {
  .search {
    width: 90%;
  }
  .song {
    width: 90%;
  }
}
